<header>
	<h1>
			<svg enable-background="new 0 0 50 50" height="20px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50" stroke="#fff"/><path class='svg_folder' d="M46,15v-4  c0-1.104-0.896-2-2-2c0,0-24.648,0-26,0c-1.469,0-2.484-4-4-4H3C1.896,5,1,5.896,1,7v4v29v4c0,1.104,0.896,2,2,2h39  c1.104,0,2-0.896,2-2" fill="none"  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/><path class='svg_folder' d="M1,44l5-27  c0-1.104,0.896-2,2-2h39c1.104,0,2,0.896,2,2l-5,27" fill="none"  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>
	Les Projets
	</h1>
</header>
<section id="content">
	<ul>
		<li *ngFor=" let project of projects">
			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/{{project.img}}" alt=""></a></div>
					<div class="summary">
						<h2><a routerLink="{{project.slug}}">{{project.title}}</a></h2>
						<div>
							<span class="date"></span>
							<span class="categories">
								<a href="">{{project.category[0]}}</a>
							</span>
							<span class="commentaires"><a href="">{{project.nb_comments}} commentaires</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>{{project.content}}</p>
				</div>
			</article>
		</li>
		<li>
			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/0.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">La minga</a></h2>
						<div>
							<span class="date"></span>
							<span class="categories"><a href=""></a></span>
							<span class="commentaires"><a href=""></a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Où trouver votre dose d’inspiration en expérience et interface utilisateur réussie ?…</p>
				</div>
			</article>			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/0.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">La minga</a></h2>
						<div>
							<span class="date"></span>
							<span class="categories"><a href=""></a></span>
							<span class="commentaires"><a href=""></a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Ma minga est une coperative...</p>
				</div>
			</article>			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/0.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">La minga</a></h2>
						<div>
							<span class="date"></span>
							<span class="categories"><a href=""></a></span>
							<span class="commentaires"><a href=""></a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Ma minga est une coperative...</p>
				</div>
			</article>
		</li>
		<li>
			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/1.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">Punk-it</a></h2>
						<div>
							<span class="date">12 FÉVRIER 2015</span>
							<span class="categories"><a href="">php</a></span>
							<span class="commentaires"><a href="">3 COMMENTAIRES</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Se positionnant en véritables trendsetters, les sites d’agences et de studios créatifs utilisent au mieux les technologies web pour offrir une expérience riche et efficace….</p>
				</div>
			</article>			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/1.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">Punk-it</a></h2>
						<div>
							<span class="date">12 FÉVRIER 2015</span>
							<span class="categories"><a href="">php</a></span>
							<span class="commentaires"><a href="">3 COMMENTAIRES</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Se positionnant en véritables trendsetters, les sites d’agences et de studios créatifs utilisent au mieux les technologies web pour offrir une expérience riche et efficace….</p>
				</div>
			</article>			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/1.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">Punk-it</a></h2>
						<div>
							<span class="date">12 FÉVRIER 2015</span>
							<span class="categories"><a href="">php</a></span>
							<span class="commentaires"><a href="">3 COMMENTAIRES</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Se positionnant en véritables trendsetters, les sites d’agences et de studios créatifs utilisent au mieux les technologies web pour offrir une expérience riche et efficace….</p>
				</div>
			</article>
		</li>		<li>
			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/1.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">Punk-it</a></h2>
						<div>
							<span class="date">12 FÉVRIER 2015</span>
							<span class="categories"><a href="">php</a></span>
							<span class="commentaires"><a href="">3 COMMENTAIRES</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Se positionnant en véritables trendsetters, les sites d’agences et de studios créatifs utilisent au mieux les technologies web pour offrir une expérience riche et efficace….</p>
				</div>
			</article>
		</li>		<li>
			<article>
				<header>
					<div class="imgContainer"><a href=""><img src="/assets/imgs/posts/1.jpg" alt=""></a></div>
					<div class="summary">
						<h2><a href="">Punk-it</a></h2>
						<div>
							<span class="date">12 FÉVRIER 2015</span>
							<span class="categories"><a href="">php</a></span>
							<span class="commentaires"><a href="">3 COMMENTAIRES</a></span>
						</div>
					</div>
				</header>
				<div>
					<p>Se positionnant en véritables trendsetters, les sites d’agences et de studios créatifs utilisent au mieux les technologies web pour offrir une expérience riche et efficace….</p>
				</div>
			</article>
		</li>
	</ul>
</section>